/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~bootstrap/dist/css/bootstrap-reboot.css';
@import '~bootstrap/dist/css/bootstrap-grid.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.full-width { width: 100%; }
section.container { padding-top: 2rem; padding-bottom: 2rem; }
.mat-card { line-height: 36px; }
.todo__completed { color: rgba(0,0,0,.54); text-decoration-line: line-through; text-decoration-color: rgba(0,0,0,.54) }
.destroy__todo:hover { color: red; }
