<section class="container">
  <div class="row">
    <mat-card class="col-6 mx-auto">
      <form class="form-inline">
        <mat-form-field appearance="standard" floatLabel="always" focused="true" class="full-width">
          <mat-label>Add a Todo</mat-label>
          <input matInput name="title" #title autocomplete="off" placeholder="What I like doing best is Nothing">
        </mat-form-field>
        <div class="row px-3">
          <button mat-button color="primary" class="ml-auto" (click)="createTodo(title.value)">Submit</button>
        </div>
      </form>
    </mat-card>
  </div>
</section>