<!-- TODO convert to header component -->
<header>
  <mat-toolbar color="primary">
    <a class="navbar-brand">{{ title }}</a>
  </mat-toolbar>
</header>

<!-- TODO convert to todo-form component -->
<section class="container">
  <div class="row">
    <mat-card class="col-6 mx-auto">
      <form class="form-inline">
        <mat-form-field appearance="standard" floatLabel="always" focused="true" class="full-width">
          <mat-label>Add a Todo</mat-label>
          <input matInput name="newTodo[title]" autocomplete="off" placeholder="What I like doing best is Nothing" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
        </mat-form-field>
        <div class="row px-3">
          <button mat-button color="primary" class="ml-auto" (click)="addTodo()">Submit</button>
        </div>
      </form>
    </mat-card>
  </div>
</section>

<!-- TODO convert to todo-list component -->
<section class="container" *ngIf="todos.length > 0">
  <div class="row pb-2" *ngFor="let todo of todos">
    <!-- TODO convert to todo-item component -->
    <mat-card class="col-6 mx-auto" [class.todo__completed]="todo.completed">
      <div class="row">
        <div class="col-1">
          <mat-checkbox [checked]="todo.completed" (change)="toggleCompleted(todo)"></mat-checkbox>
        </div>
        <div class="col-9">
          <mat-label>{{ todo.title }}</mat-label>
        </div>
        <div class="col-2">
          <button mat-button class="destroy__todo" (click)="removeTodo(todo)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </div>
    </mat-card>
    
  </div>
</section>