.full-width {
  width: 100%;
}

section.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.mat-card {
  line-height: 36px;
}

.todo__completed {
  color: rgba(0,0,0,.54);
  text-decoration-line: line-through;
  text-decoration-color: rgba(0,0,0,.54)
}
.destroy__todo:hover {
  color: red;
}