<!-- TODO convert to header component -->
<header>
  <mat-toolbar color="primary">
    <a class="navbar-brand">{{ title }}</a>
  </mat-toolbar>
</header>

<todo-form (addTodoEvent)="onAddTodo($event)"></todo-form>

<!-- TODO convert to todo-list component -->
<section class="container" *ngIf="todos.length > 0">
  <div class="row pb-2" *ngFor="let todo of todos">
    <!-- TODO convert to todo-item component -->
    <mat-card class="col-6 mx-auto" [class.todo__completed]="todo.completed">
      <div class="row">
        <div class="col-1">
          <mat-checkbox [checked]="todo.completed" (change)="toggleCompleted(todo)"></mat-checkbox>
        </div>
        <div class="col-9">
          <mat-label>{{ todo.title }}</mat-label>
        </div>
        <div class="col-2">
          <button mat-button class="destroy__todo" (click)="removeTodo(todo)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </div>
    </mat-card>
    
  </div>
</section>