body {
  background-color: #f5f5f5;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem;
}

.todo__list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo__item {
  line-height: 3rem;
}

.btn {
  font-weight: 700;
}

.has-error input {
  border-color: #dc3545;
}

.has-error input:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 .2rem rgba(220,53,69,.25)
}

.has-error .error-text{
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545
}