body {
  background-color: #f5f5f5;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem;
}

.todo__list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo__item {
  line-height: 2.75rem;
}

.todo__item input[type="checkbox"]:before {
  content: "";
  position: absolute;
  left: 15px;
  top: 1rem;
  border: #b5b5b5 1px solid;
  border-radius: 3px;
  padding: 6px;
  background: #fff;
}

.todo__item input[type="checkbox"]:checked:before {
  background-color: #28a745;
  border-color: #28a745;
}

.todo__item input[type="checkbox"]:checked:after {
  content: "\2713";
  color: #fff;
  position: absolute;
  top: 1px;
  left: 17px;
  width: 14px;
  height: 14px;
}

.btn {
  font-weight: 700;
}

.has-error input {
  border-color: #dc3545;
}

.has-error input:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 .2rem rgba(220,53,69,.25)
}

.has-error .error-text{
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545
}